# Ignorar configuracion_local.sh
configuracion_local.sh

# Ignorar la carpeta archivos_personales y todo su contenido
archivos_personales/
id_ed25519
id_ed25519.pub

# Ignorar todos los archivos .psd y .xcf (Photoshop y GIMP)
*.psd
*.xcf